html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-container{
  display: grid;
  grid-template-columns:repeat(2, 1fr) ;
  width: 100vw;
  height: 8vh;
  background-color: black;
  overflow: hidden;
}
.header-grid{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
}
.link{
  color: white;
  text-decoration: none;
}
.header-button{
  font-size: clamp(.8rem, 2vw, 1rem);
  background-color: rgb(194, 190, 190);
  border: none;
  border-radius: 5px;
  transition: background-color .3s ease;
  transition: transform .3 ease;
}
.header-button:hover{
  cursor: pointer;
  background-color: gray;
  transform: scale(1.2);
}